@import url('https://fonts.maateen.me/kalpurush/font.css');

/*font-family: 'Kalpurush', serif;*/

* {
    margin: 25px;
    padding: 0;
    box-sizing: border-box;
}

.centre{
    display: flex;
    align-items: center;
    position: sticky;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: darkblue;
    align-items: center;
}

<!--.navbar div {
    /*color: white;*/
}-->
