@import url('https://fonts.maateen.me/kalpurush/font.css');

/*font-family: 'Kalpurush', serif;*/

* {
    margin: center;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Georgia', serif;
}

.centre{
    display: flex;
    align-items: center;
    position: sticky;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bacground-color: light-grey;
    padding: 8px;
    
    
}

<!--.navbar div {
    /*color: white;*/
}-->

.nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}
.nav-list li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}
.nav-list li a:hover {
    text-decoration: underline;
    /*color: #ffe66d;
    text-shadow: 1px 1px 5px #000;*/
}
