@import url('https://fonts.maateen.me/kalpurush/font.css');

/*font-family: 'Kalpurush', serif;*/

/* * {
    margin: center;
    padding: 0;
    box-sizing: border-box;
}*/
/* To make the entire page centered*/
body {
  font-family: 'Georgia', serif;
  font-size: 20px;
  background-color: #FFFFFF;
}

.main-margin{
	margin: 5px 600px;
}

.kalpurush-font{
    font-family: 'Kalpurush', serif;
}


.centre{
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: center;
    margin: 0 ;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    background-color: transparent;
    /* Remove shadow/drop effects */
    box-shadow: none;
    /* Ensure the border remains visible */
    border: 1px solid #E6F0DF; /* Adjust color and width as needed */
    height: auto;
    width: 100%;
    margin-top: -25px;
    margin-bottom: 15px;
    
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.nav-list li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}
.nav-list li a:hover {
    text-decoration: underline;
    color: blue;
    /*text-shadow: 1px 1px 5px #000;*/
}

.flex-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            /* Full viewport height */
        }
